<div class="container">
  <div class="carousel">
    <!-- <div class="item a">USA</div>
    <div class="item b">UK</div>
    <div class="item c">Australia</div>
    <div class="item d">Germany</div>
    <div class="item e">France</div>
    <div class="item f">Brazil</div> -->
    <div class="item a"></div>
    <div class="item b"></div>
    <div class="item c"></div>
    <div class="item d"></div>
    <div class="item e"></div>
    <div class="item f"></div>
  </div>
  <div (click)="next()" class="next">▶</div>
  <div (click)="prev()" class="prev">◀</div>
</div>
