<div class="container">
  <div class="carousel">
    <!-- <div class="item a">USA</div>
    <div class="item b">UK</div>
    <div class="item c">Australia</div>
    <div class="item d">Germany</div>
    <div class="item e">France</div>
    <div class="item f">Brazil</div> -->
    <a><div class="item a" (click)="changeLayout()"></div></a>
    <a><div class="item b" (click)="changeLayout()"></div></a>
    <a><div class="item c" (click)="changeLayout()"></div></a>
    <a><div class="item d" (click)="changeLayout()"></div></a>
    <a><div class="item e" (click)="changeLayout()"></div></a>
    <a><div class="item f" (click)="changeLayout()"></div></a>
  </div>
  <div (click)="next()" class="next">▶</div>
  <div (click)="prev()" class="prev">◀</div>
</div>
