.container-center{
    display: table;
    position: absolute;
    height: 80%;
    width: 100%;
}
.container-middle-subpage{
    /* margin-top: 10em;
    padding: 0; */
    /* display: table-cell; */
    vertical-align: middle;
    display: table-cell;
    margin: 0;
    padding: 0;
}
.title{
    margin-top: 0;
    color: #e77818;
    font-size: 2.5em;
    font-family: National2,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
.explaination-subpage{
    width:60%;
    text-align: center;
    margin: 0 auto;
}
.intro-subpage{
    font-size: 1.1em;
    color: #6C777D;
    font-family: National2,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
.sub-header{
    margin-top: 0;
    color: #e77818;
    font-family: National2,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

@media (min-width:120px)  { 
    a.companies{
        color: #e77818;
        margin: 4px;
        /* width: 30%; */
        font-size: 1.5em;
        border-width: 0.5px;
        border-radius: 10px;
        border-style: solid;
        font-family: National2,"Helvetica Neue",Helvetica,Arial,sans-serif;
        }
    }
@media (min-width:320px)  { 
a.companies{
    color: #e77818;
    margin: 4px;
    /* width: 30%; */
    font-size: 1.5em;
    border-width: 0.5px;
    border-radius: 10px;
    border-style: solid;
    font-family: National2,"Helvetica Neue",Helvetica,Arial,sans-serif;
    }
}
@media (min-width:481px)  { 
    a.companies{
        color: #e77818;
        margin: 4px;
        /* width: 30%; */
        font-size: 1.5em;
        border-width: 0.5px;
        border-radius: 10px;
        border-style: solid;
        font-family: National2,"Helvetica Neue",Helvetica,Arial,sans-serif;
    }
 }
@media (min-width:641px)  { 
    a.companies{
        color: #e77818;
        margin: 4px;
        width: 30%;
        font-size: 1.5em;
        border-width: 0.5px;
        border-radius: 10px;
        border-style: solid;
        font-family: National2,"Helvetica Neue",Helvetica,Arial,sans-serif;
    }
 }
@media (min-width:961px)  { 
    a.companies{
        color: #e77818;
        margin: 4px;
        width: 30%;
        font-size: 1.5em;
        border-width: 0.5px;
        border-radius: 10px;
        border-style: solid;
        font-family: National2,"Helvetica Neue",Helvetica,Arial,sans-serif;
    }
}
@media (min-width:1025px) { 
    a.companies{
        color: #e77818;
        margin: 4px;
        width: 30%;
        font-size: 1.5em;
        border-width: 0.5px;
        border-radius: 10px;
        border-style: solid;
        font-family: National2,"Helvetica Neue",Helvetica,Arial,sans-serif;
    }
}
@media (min-width:1281px) { 
    a.companies{
        color: #e77818;
        margin: 4px;
        width: 30%;
        font-size: 1.5em;
        border-width: 0.5px;
        border-radius: 10px;
        border-style: solid;
        font-family: National2,"Helvetica Neue",Helvetica,Arial,sans-serif;
    }
}

li.companies{
    list-style: none;
}

.back{
    margin-top: 1.5em;
}
a.back{
        color:black;
        margin: 20px;
        padding: 5px;
        text-decoration: none;
        font-size: 1.5em;
        border-width: 0.5px;
        border-radius: 10px;
        border-style: solid;
        font-family: National2,"Helvetica Neue",Helvetica,Arial,sans-serif;
}