<div class="container-center">
  <div class="container-middle-subpage">
    <div style="text-align:center">
      <h1 class="title">Opt-Out</h1>
      <div class="explaination-subpage">
        <p class="intro-subpage">The following links are websites that are data providers associated with {{ name }}, click and follow the links in
          order to opt out of their assigned data-collection procedures.</p>
      </div>
      <div>
        <h2 class="sub-header">{{ name }} Data Providers:</h2>
      </div>
    </div>
  </div>
</div>
