.explaination{
    width:60%;
    text-align: center;
    margin: 0 auto;
}
.intro{
    font-size: 2em;
    color: #6C777D;
    font-family: National2,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
a{
    color:#e77818;
}